<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${training.campus.city == 'Quito'
        ? 'IMPETUS S.A.S - CONTRATO PRESTACIÓN SERVICIOS ENTRENAMIENTO'
        : 'FULL POTENTIAL S.A.S - CONTRATO PRESTACIÓN SERVICIOS ENTRENAMIENTO'}">
    </title>
    <style>
        @page {
            margin-top: 1.2cm;
            margin-right: 1.2cm;
            margin-bottom: 1.2cm;
            margin-left: 1.2cm;
        }

        body {
            font-family: "Times New Roman", Times, serif;
            font-size: 11pt;
            line-height: 1.0;
            text-align: justify;
        }

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 14pt;
            margin-bottom: 20px;
        }

        .clause-title {
            font-weight: bold;
            margin-top: 18px;
            margin-bottom: 6px;
        }

        .paragraph {
            margin-bottom: 10px;
        }

        .list {
            margin-left: 30px;
        }

        .signature-cell {
            width: 50%;
        }

        .page-break {
            page-break-before: always;
        }

        .header {
            width: 100%;
            margin-bottom: 20px;
        }

        .header table {
            width: 100%;
        }

        .header-title {
            background: #000;
            color: #fff;
            text-align: center;
            font-weight: bold;
            padding: 6px;
            font-size: 14pt;
        }

        .section-title {
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        table.form {
            width: 100%;
            border-collapse: collapse;
        }

        table.form td {
            padding: 4px;
            vertical-align: bottom;
        }

        .black-box {
            background: #000;
            color: #fff;
            font-weight: bold;
            padding: 6px;
            width: 120px;
            text-align: center;
        }

        .signature-line {
            border-top: 1px solid #000;
            margin-top: 19px;
            text-align: center;
            padding-top: 4px;
            font-size: 11pt;
        }

        .invoice-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 10pt;
        }

        .invoice-table,
        .invoice-table th,
        .invoice-table td {
            border: 1px solid #000;
        }

        .invoice-table th,
        .invoice-table td {
            padding: 4px;
            text-align: left;
        }

        .invoice-title {
            text-align: center;
            font-weight: bold;
            padding: 6px;
        }

        .signature-section {
            margin-top: 15px;
            width: 100%;
        }

        .signature-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 10pt;
        }

        .signature-table td {
            padding: 6px;
            text-align: center;
            vertical-align: bottom;
        }

        /*.signature-line {*/
        /*    border-top: 1px solid #000;*/
        /*    height: 30px;*/
        /*    margin-bottom: 4px;*/
        /*}*/

        .signature-label {
            font-size: 9pt;
            font-weight: bold;
        }

        .question {
            margin-bottom: 12px;
            font-size: 10.5pt;
        }

        .question-text {
            margin-bottom: 4px;
        }

        .question-options {
            white-space: nowrap;
        }

        .check-line {
            display: inline-block;
            width: 18px;
            border-bottom: 1px solid #000;
            margin: 0 6px;
        }

        .answer-line {
            display: inline-block;
            width: 260px;
            border-bottom: 1px solid #000;
            margin-left: 6px;
        }


        .form-grid {
            display: grid;
            grid-template-columns: auto 1fr auto 120px;
            column-gap: 8px;
            row-gap: 6px;
            font-size: 10.5pt;
        }

        .form-row {
            display: contents;
        }

        .field {
            display: inline-flex;
            align-items: baseline;
            width: 100%;
        }

        .value {
            font-weight: bold;
            white-space: nowrap;
        }

        .line {
            flex: 1; /* ⬅ la línea ocupa SOLO lo que falta */
            border-bottom: 1px solid #000;
            margin-left: 6px;
            height: 1px;
        }

        .form-line {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 8px;
            margin-bottom: 6px;
            font-size: 10.5pt;
        }

        .form-line.two {
            grid-template-columns: auto 1fr auto 120px;
        }

        .form-row {
            width: 100%;
            margin-bottom: 6px;
            font-size: 10.5pt;
            flex-grow: 1;
        }

        .label {
            display: inline-block;
            font-weight: bold;
            white-space: nowrap;
            margin-right: 6px;
        }

        .value-line {
            display: inline-block;
            width: calc(100% - 160px); /* ajustable */
            border-bottom: 1px solid #000;
            font-weight: bold;
            min-height: 14px;
        }

        .form-line.two {
            grid-template-columns: auto 1fr auto 120px;
        }

        .form-line.three {
            grid-template-columns: auto 1fr auto 120px auto 120px;
        }
    </style>
</head>

<body>
<div th:each="data,iterStat : ${contracts}">
    <div class="header">
        <table>
            <tr>
                <td>Sede: <span th:text="${training.getCampus().getCity()}"></span></td>
                <td class="header-title">FICHA DE INSCRIPCIÓN</td>
                <td style="text-align:right;">No.<span th:text="${training.getCourseLevelDisplay()}"></span>: <span
                        th:text="${training.getNumber()}"></span></td>
            </tr>
        </table>
    </div>
    <table>
        <tr>
            <td>
                <div class="section-title">DATOS PERSONALES</div>
            </td>
            <td style="text-align:center; width: 75%;">
                <div th:text="'-'+${iterStat.index+1}+'-'">
                    -1-
                </div>
            </td>
        </tr>
    </table>
    <div class="form-row">
        <span class="label">Nombre Completo</span>
        <span class="value-line" style="padding-left: 10px; padding-right: 10px"
              th:text="${data.participant.user.name}"></span>
    </div>
    <div class="form-line two">
        <div class="label">Nombre por el que prefiero que me llamen</div>
        <div class="value-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

        <div class="label">Edad</div>
        <div class="value-line" th:text="${data.participant.profile.age}"></div>
    </div>
    <div class="form-row">
        <span class="label">Dirección Completa</span>
        <span class="value-line" style="width:360px;"
              th:text="${data.participant.profile.address}"></span>

        <span class="label" style="margin-left:12px;">Ciudad</span>
        <span class="value-line" style="width:100px;"
              th:text="${data.participant.profile.city}"></span>
    </div>
    <div class="form-row">
        <span class="label">Número de cédula</span>
        <span class="value-line" style="width:160px;"
              th:text="${data.participant.profile.dni}"></span>

        <span class="label" style="margin-left:12px;">Teléfono</span>
        <span class="value-line" style="width:160px;"
              th:text="${data.participant.user.phone}"></span>
    </div>
    <div class="form-row">
        <span class="label">E-mail</span>
        <span class="value-line" style="width:260px;"
              th:text="${data.participant.user.email}"></span>

        <span class="label" style="margin-left:12px;">Estado Civil</span>
        <span class="value-line" style="width:120px;"
              th:text="${data.participant.profile.civilStatus}"></span>
    </div>
    <div class="form-row">
        <span class="label">Ocupación</span>
        <span class="value-line" style="width:420px;"
              th:text="${data.participant.profile.occupation}"></span>
    </div>
    <div class="form-row">
        <span class="label">En caso de emergencia llamar a</span>
        <span class="value-line" style="width:260px;"
              th:text="${data.contact != null
                   ? data.contact.name : '-'}"></span>

        <span class="label" style="margin-left:12px;">Teléfono</span>
        <span class="value-line" style="width:160px;"
              th:text="${data.contact != null
                   ? data.contact.phone : '-'}"></span>
    </div>
    <div class="form-row">
        <span class="label">Quién te invitó a Focus Your Life?</span>
        <span class="value-line" style="width:240px;"
              th:text="${data.sender != null
                   ? data.sender.name : '-'}"></span>

        <span class="label" style="margin-left:12px;">Teléfono</span>
        <span class="value-line" style="width:160px;"
              th:text="${data.sender != null
                   ? data.sender.phone : '-'}"></span>
    </div>

    <div class="question">
        <div class="question-text">
            ¿Tienes algún antecedente personal de enfermedades psiquiátricas o estás bajo tratamiento actualmente?
        </div>

        <div class="question-options">
            (SI)<span class="check-line"
                      th:text="${data.medicalRecord != null && data.medicalRecord.psychiatric_history_detail != 'N/A' ? '  X':''}"></span>
            (NO)<span class="check-line"
                      th:text="${data.medicalRecord != null && data.medicalRecord.psychiatric_history_detail == 'N/A' ? '  X':''}"></span>
            ¿Cuál?<span class="answer-line"></span>
        </div>
    </div>

    <div class="question">
        <div class="question-text">
            ¿Tienes algún antecedente médico del cuál debamos tener conocimiento?
        </div>

        <div class="question-options">
            (SI)<span class="check-line"
                      th:text="${data.medicalRecord != null && data.medicalRecord.medical_history_detail != 'N/A' ? '  X':''}"></span>
            (NO)<span class="check-line"
                      th:text="${data.medicalRecord != null && data.medicalRecord.medical_history_detail == 'N/A' ? '  X':''}"></span>
            ¿Cuál?<span class="answer-line"></span>
        </div>
    </div>

    <div class="question">
        <div class="question-text">
            ¿Tomas algún medicamento que altere tu conducta habitual?
        </div>

        <div class="question-options">
            <span th:text="${data.payment}"></span>
            (SI)<span class="check-line"
                      th:text="${data.medicalRecord != null && data.medicalRecord.medication_history_detail != 'N/A' ? '  X':''}"></span>
            (NO)<span class="check-line"
                      th:text="${data.medicalRecord != null && data.medicalRecord.medication_history_detail == 'N/A' ? '  X':''}"></span>
            ¿Cuál?<span class="answer-line"
                        th:text="${data.medicalRecord != null ? data.medicalRecord.medication_history_detail :'N/A'}"></span>
        </div>
    </div>

    <table class="form" style="margin-top:20px;">
        <tr>
            <td class="black-box"><span>FOCUS</span></td>
            <td>Método de pago:</td>
            <td class="line" style="width: 150px"><span th:text="
                    ${data.payment != null
                      and data.payment.paymentshistory != null
                      and data.payment.paymentshistory.size() > 2}
                      ? 'Multipago'
                      : (${data.paymentHistory != null
                          and data.paymentHistory.paymentMethod != null}
                          ? ${data.paymentHistory.paymentMethod.type}
          : '')"></span>
            </td>
            <td>Fecha de pago:</td>
            <td class="line" style="width: 150px"><span
                    th:text="${data.payment != null ?  #temporals.format(data.payment.getCreatedDate(), 'dd/MM/yyyy'): ''}"></span>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>Tarjeta:</td>
            <td class="line" style="width: 150px"><span th:text="${data.payment != null ? '': ''}"></span></td>
            <td>Monto:</td>
            <td class="line" style="width: 150px"><span
                    th:text="${data.payment != null ? data.payment.getTotal(): ''}"></span></td>
        </tr>

        <tr>
            <td></td>
            <td>Plazo:</td>
            <td class="line" style="width: 150px"><span th:text="${data.payment != null ? '': ''}"></span></td>
            <td>No. Autorización:</td>
            <td class="line" style="width: 150px"><span
                    th:text="${data.payment != null && data.payment.getInvoice() != null && data.payment.getInvoice().size() > 0 ? data.payment.getInvoice().getFirst().invoiceContifico.documento: ''}"></span>
            </td>
        </tr>
    </table>
    <div class="signature-section">
        <table class="signature-table">
            <tr>

            </tr>
            <tr>
                <td>
                    <strong>
                        <span th:text="${training.getStartDate().getDayOfMonth()}"></span> al <span
                            th:text="${training.getEndDate().getDayOfMonth()}"> </span> de <span
                            th:text="${#temporals.format(training.getEndDate(), 'MMMM')}"></span> / <span
                            th:text="${training.getEndDate().getYear()}"></span>
                    </strong>
                    <div class="signature-line">
                    </div>
                    <div class="signature-label">Fecha del entrenamiento</div>
                </td>

                <td>
                <span th:text="${data.payment != null
                   ? data.payment.getTotal() : product.getBasePrice()}">$160</span>
                    <div class="signature-line margin-top-0">
                    </div>
                    <div class="signature-label"> Precio</div>
                </td>

                <td>
                    <div class="signature-line"></div>
                    <div class="signature-label">Firma del participante</div>
                </td>
                <td>
                  <span th:text="${data.trainingSender != null
                   ? data.trainingSender.trainingName : ''}"></span>
                    <div class="signature-line margin-top-0">

                    </div>
                    <div class="signature-label"> Equipo</div>
                </td>
            </tr>
        </table>
    </div>
    <table class="form" style="margin-top:20px;">
        <tr>
            <td class="black-box"><span>YOUR</span></td>
            <td>Método de pago:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Fecha de pago:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>

        <tr>
            <td></td>
            <td>Tarjeta:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Monto:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>

        <tr>
            <td></td>
            <td>Plazo:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>No. Autorización:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </table>
    <div class="signature-section">
        <table class="signature-table">
            <tr>
                <td colspan="5" style="text-align:left;">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="signature-line"></div>
                    <div class="signature-label">Fecha del entrenamiento</div>
                </td>
                <td>
                    <div class="signature-line"></div>
                    <div class="signature-label">Precio</div>
                </td>
                <td>
                    <div class="signature-line"></div>
                    <div class="signature-label">Firma del participante</div>
                </td>
            </tr>
        </table>
    </div>
    <table class="form" style="margin-top:20px;">
        <tr>
            <td class="black-box"><span>LIFE</span></td>
            <td>Método de pago:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Fecha de pago:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>

        <tr>
            <td></td>
            <td>Tarjeta:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Monto:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>

        <tr>
            <td></td>
            <td>Plazo:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>No. Autorización:</td>
            <td class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>

    </table>
    <div class="signature-section">
        <table class="signature-table">
            <tr>
                <td colspan="5" style="text-align:left;">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="signature-line"></div>
                    <div class="signature-label">Fecha del entrenamiento</div>
                </td>

                <td>
                    <div class="signature-line"></div>
                    <div class="signature-label">Precio</div>
                </td>

                <td>
                    <div class="signature-line"></div>
                    <div class="signature-label">Firma del participante</div>
                </td>
            </tr>
        </table>
    </div>

    <div class="page-break"></div>

    <h1>CONTRATO DE PRESTACIÓN DE SERVICIOS</h1>

    <div class="paragraph">
        Comparecen a la celebración del presente Contrato de Prestación de Servicios,
        por una parte, la empresa <strong th:if="${training.campus.city == 'Quito'}">
        Impetus S.A.S</strong><strong th:if="${training.campus.city == 'Cuenca'}">FULL POTENTIAL S.A.S</strong>
        <strong th:if="${training.campus.city == 'Guayaquil'}">
            Impetus S.A.S</strong>
        legalmente representada
        por su Gerente General el señor <strong>Diego Coronel López</strong>, al que para
        efectos de este contrato se la denominará la
        <strong>“Contratista”</strong> o la <strong>“Compañía”</strong>;
        y, por otra parte, el <strong>Sr. <span th:text="${data.participant.getUser().getName()}"></span></strong>,
        por sus propios derechos, al que para efectos de este contrato se le denominará
        el <strong>“Contratante”</strong>. En lo posterior los comparecientes podrán denominarse simplemente las<strong>“PARTES”</strong>.
        <div class="clause-title">PRIMERA. - ANTECEDENTES:</div>
        <strong>1.1.-</strong> La Contratista, es una empresa cuyo objeto social se
        centra
        en la prestación de servicios profesionales en capacitación, formación y
        perfeccionamiento del potencial humano; a través de capacitaciones,
        consultorías, talleres, seminarios, conferencias, charlas y encuentros
        académicos interdisciplinarios, así como el desarrollo de talleres vivenciales
        y experienciales, de entrenamientos de vida y empresariales, de liderazgo
        personal y corporativo;<strong>1.2.-</strong> El Contratante es una persona legalmente capaz para contratar y
        obligarse por sus propios y
        personales derechos que declara conocer los servicios que ofrece la Contratista.<strong>1.3.-</strong> Por lo
        antes
        señalado el Contratante contrata los servicios de la Contratista y acuerdan en
        suscribir el presente contrato.
        <div class="clause-title">SEGUNDA. - OBJETO:</div>
        Las partes acuerdan que el objeto de presente
        contrato es el siguiente: El Contratante suscribe el presente contrato para el entrenamiento
        <strong>FOCUS YOUR LIFE</strong>, el mismo que se desarrolla en modalidad grupal con
        técnicas vivenciales para la aplicación de distinciones ontológicas, el mismo
        que se encuentra dividido en tres etapas consecutivas:<strong>1)</strong> 1era Etapa denominada
        <strong>FOCUS</strong> el cual es la introducción a varias distinciones
        que permiten ampliar el estado de conciencia personal;<strong>2)</strong> 2da Etapa denominada
        <strong>YOUR</strong>
        que profundiza las distinciones introductorias;<strong>3)</strong> 3ra Etapa <strong>LIFE</strong> 3) 3ra Etapa
        LIFE
        la misma que se subdivide en tres fines de
        semana de acuerdo al calendario que se otorga al Contratante el cual desarrolla actividades complementarias y un
        cuarto fin de semana al cual se accede luego de cumplir con todos los parámetros establecidos mediante
        requerimiento informado promovido y aceptado por el Contratante..
        De lo expuesto el Contratante adquiere el entrenamiento <strong><span
            th:text="${training.getCourseLevelDisplay()}"></span></strong>; y,
        si luego de concluido dicho entrenamiento el Contratante decide acceder a la 2da etapa y/o 3ra etapa del
        entrenamiento el presente contrato surtirá los mismos efectos para las dos precitadas etapas.
        <div class="clause-title">TERCERA. -
            ALCANCE
        </div>
        <strong>3.1 Obligaciones de la CONTRATISTA:</strong> 3.1.1. Realizar bajo su exclusiva responsabilidad todas las
        actividades descritas en la cláusula SEGUNDA.
        3.1.2. Proveer los recursos humanos y materiales que sean necesarios para el cumplimiento del objeto de este
        contrato.
        3.1.3. Informar por escrito de manera física o electrónica a la Contratante cualquier novedad en el desarrollo
        de sus obligaciones y hacerlo oportunamente a fin de evitar contratiempos.
        <strong>3.2 Obligaciones del CONTRATANTE:</strong>
        3.2.1. Pagar a la Contratista los valores pactados por la prestación de servicios, de conformidad con lo
        determinado
        en la cláusula CUARTA del presente contrato.
        3.2.2. Brindar a la Contratista todas las facilidades e información para que pueda cumplir eficazmente con el
        objeto
        materia de esta contratación.
        3.2.3. La Contratante se responsabiliza, obliga y declara asistir en los días y horarios establecidos y a
        cumplir
        con las indicaciones, normas, tareas, actividades y reglas que serán puestas a su conocimiento durante el
        desarrollo
        del o los entrenamientos contratados, mismas que serán notificadas y puestas en su conocimiento de manera física
        o
        electrónica y tendrá la misma validez que un contrato sin que se pueda alegar falta de aceptación del mismo.
        <div class="clause-title">
            CUARTA. - VALOR Y FORMA DE PAGO:
        </div>

        El precio establecido para el entrenamiento <span th:text="${training.getCourseLevelDisplay()}"></span> tiene un
        valor de $<span
            th:text="${data.payment != null ? data.payment.getTotal() :product.getBasePrice()}"></span> Dólares Americanos que podrán ser
        cancelados por el Contratante de la siguiente manera:
        1) Mediante pago en efectivo, depósito o transferencia a la cuenta de ahorros No <span th:if="${training.campus.city == 'Quito'}">
    2212187651</span>

        <span th:if="${training.campus.city == 'Cuenca'}">
        2212187625
    </span>
        <span th:if="${training.campus.city == 'Guayaquil'}">
            2212187651
    </span> del Banco Pichincha
        a
        nombre de la Empresa <span th:if="${training.campus.city == 'Quito'}">
    Impetus S.A.S</span>

        <span th:if="${training.campus.city == 'Cuenca'}">
        FULL POTENTIAL S.A.S
    </span>
        <span th:if="${training.campus.city == 'Guayaquil'}">
            Impetus S.A.S
    </span>, o
        2) Mediante tarjeta de crédito a la suscripción del presente contrato.
        Una vez validado el pago realizado por la Contratante es obligación de la Contratista emitir la correspondiente
        factura en un plazo no mayor a cinco días posteriores al pago realizado.

        <div class="clause-title">
            QUINTA. - PLAZO:
        </div>
        El entrenamiento <span th:text="${training.getCourseLevelDisplay()}"></span> se desarrollará del <span
            th:text="${training.getStartDate()}"></span> - <span th:text="${training.getEndDate()}"></span> en el
        horario de
        ingreso de 10h00 a 22h00
        aproximadamente.
        Si el Contratante luego de concluida esta etapa, por decisión propia y a su voluntad accede al entrenamiento
        YOUR
        y/o LIFE los horarios y días de desarrollo del entrenamiento serán comunicados y notificados de manera física o
        electrónica al correo previamente registrado por el Contratante.

        <div class="clause-title">
            SEXTA. – SITIO DE LOS SERVICIOS:
        </div>

        <strong>
            La Contratista prestara sus servicios, objeto de este contrato, en la ciudad de <span
                th:text="${training.campus.city}"></span>.
        </strong>

        <div class="clause-title">
            SÉPTIMA. – CESIÓN DE DERECHOS:
        </div>

        El Contratante en ningún caso podrá ceder total o parcialmente los derechos y obligaciones que se adquieran por
        el
        presente contrato sin la debida autorización, por escrito, de la Contratista.
        <div class="clause-title">
            OCTAVA. - ACUERDO DE CONFIDENCIALIDAD Y NO DIVULGACIÓN. -
        </div>
        8.1. El Contratante declara que guarda y guardará estricta confidencialidad sobre toda la información que
        llegare a
        su conocimiento relativa al objeto del presente contrato, las negociaciones, contratos de toda índole, listas de
        precios, la organización, métodos, procedimientos administrativos, técnicos y de la naturaleza que fuere, que
        constituyen patrimonio intelectual de exclusiva propiedad de la Contratista y por tanto son secretos
        comerciales,
        industriales, empresariales y por ende, información confidencial, por lo que el Contratante se compromete y
        obliga a
        no utilizarla a su favor, o a favor de terceros, y a no divulgarla.
        8.2. Asimismo se considera información confidencial y reservada: cualquier información relacionada con los
        clientes
        de la Contratista, sus directivos, representantes, entrenadores, sus socios o accionistas, situaciones de los
        socios
        o funcionarios; políticas y procedimientos de la Compañía, información técnica, información relativa con los
        otros
        temas de la Compañía, incluyendo pero no limitando a información accionaria, contratos con proveedores,
        contratistas, empleados o cualquier otro similar, información financiera, comercial, precios; así como proyectos
        actuales y otros proyectos, plazos, cronogramas, valores, métodos, fórmulas, equipos, cálculos, estrategias de
        marketing, y de servicio al cliente u otros similares o en general información sobre clientes, contactos,
        usuarios,
        proveedores, contratistas, alianzas, asociaciones, incluyendo listas o compilaciones o bases de datos que
        contengan
        cualquier tipo de información relacionada con aquellos; bases de datos de cualquier índole; información no
        divulgada, derechos de autor, o cualquier otra prestación protegida por la normativa de propiedad intelectual,
        procesos de todos los puntos mencionados en este acuerdo; y, cualquier otra información o material que haya o no
        sido designado, clasificado o marcado con las expresiones "Confidencial", "Secreto", "Privilegiado",
        "Reservado", o
        cualquier otra información equivalente que, a criterio de la Compañía y/o sus accionistas, directivos,
        representantes o sus clientes o información que la Compañía catalogue como confidencial a futuro, se considere
        confidencial. Todo lo cual constituye secreto empresarial, por lo que el Contratante deberá abstenerse, de forma
        indefinida, a divulgar, usar o explotar, de cualquier forma, la información a la que haya tenido acceso debido
        al
        ejercicio de sus funciones, aun cuando su relación haya cesado, de conformidad con lo establecido en el Art. 27
        de
        la Ley Orgánica de Regulación y Control del Poder de Mercado.
        8.3. Queda completamente prohibido revelar y/o utilizar la información confidencial de los negocios y secretos
        empresariales de la Compañía y/o de sus clientes.
        8.4. En caso de incumplimiento de esta cláusula se ejecutarán las medidas sancionatorias penal, civil y
        administrativa. Así mismo, en caso de que por el incumplimiento se generen responsabilidades civiles, penales o
        administrativas hacia la Compañía, esta podrá repetir las acciones que sean pertinentes en contra del
        Contratante.
        8.5. Adicionalmente, el Contratante no podrá en ningún tiempo utilizar los conocimientos e información de la
        Compañía, ni divulgarla en su beneficio, ya sea en el ámbito cotidiano, profesional, administrativo, ordinario o
        extraordinario, judicial o extrajudicial.
        <div class="clause-title">
            NOVENA. - TERMINACIÓN DE CONTRATO:
        </div>

        El contrato terminará normalmente por cumplimiento total de las obligaciones de las partes.
        El contrato terminará anticipadamente, sin necesidad de declaratoria judicial, por las siguientes causas:
        <strong>
            9.1 Fuerza mayor o caso fortuito insuperables que impidan la conclusión del alcance.
        </strong>

        9.2 Por decisión de la Contratante previa determinación de impuestos, comisiones, promociones, gastos
        administrativos y operacionales incurridos, para lo cual se comunicará a la Contratista con 15 días de
        anticipación.
        <div class="clause-title">
            DÉCIMA. - NATURALEZA JURÍDICA DE LA VINCULACIÓN ENTRE EL CONTRATANTE Y LA CONTRATISTA:
        </div>

        Dada la naturaleza del presente contrato, la Compañía no tiene, ni tendrá vinculación laboral alguna con el
        Contratante, en consecuencia, no tiene ni tendrán derecho a emolumentos por concepto de prestaciones sociales o
        laborales.
        La Contratista acepta y declara que la contratación del personal necesario para la ejecución del presente
        contrato,
        dentro de lo pactado, es de su exclusiva responsabilidad; por tanto, los trabajadores que se utilicen para el
        cumplimiento de este contrato serán contratados y laborarán en relación de dependencia de la Contratista y
        mantendrá
        a la Contratante indemne frente a cualquier reclamo o acción laboral.
        La Contratista es y prestará los servicios estipulados en este contrato como Contratista INDEPENDIENTE,
        manteniéndose y reconociendo que cada una de las partes es una persona independiente, sujetas única y
        exclusivamente
        a lo estipulado en el presente contrato.
        <div class="clause-title">
            DÉCIMA PRIMERA. – CASO FORTUITO O FUERZA MAYOR. -
        </div>
        En circunstancias de caso fortuito o fuerza mayor las partes acuerdan que se aplicarán las normas del Código
        Civil.
        Para el cumplimiento de las obligaciones del presente contrato, entiéndase por caso fortuito los eventos de la
        naturaleza, y por fuerza mayor los eventos causados por el hombre, que son inesperados, imprevisibles,
        irresistibles, o inevitables, en la medida que ambos conceptos se asimilan legalmente.
        Se incluyen en caso fortuito, sin limitarse, a terremotos, huracanes, aluviones, inundaciones, incendios,
        erupción
        volcánica, cualquier epidemia, pandemia, enfermedad generalizada, que cause aislamientos, o riesgos a la salud
        de la
        población.
        Se incluyen en fuerza mayor, sin limitarse, a actos ocasionados por el hombre que son inevitables e
        irresistibles,
        tales como actos del Gobierno, de las autoridades competentes nacionales, seccionales, actos de autoridad
        ejecutados
        por funcionarios públicos, policiales militares, municipales o de cualquier otra clase, disturbios o
        levantamientos,
        guerra declarada o no declarada, terrorismo, ataques armados y daños maliciosos a terceros.

        <div class="clause-title">
            DÉCIMA SEGUNDA. – POLITICAS DE REEMBOLSO . -
        </div>
        La Contratista una vez que suscribe el presente contrato de prestación de servicios con el Contratante,
        implementa
        todos sus buenos oficios para el desarrollo del entrenamiento y la correcta ejecución del presente contrato, por
        tal
        motivo no se contempla el rembolso del valor pagado por el Contratante.
        La Contratista podrá analizar un eventual reembolso bajo ciertas circunstancias:
        1) Que el impedimento por parte del Contratante para cumplir el objeto del presente contrato sea por causa de
        fuera
        mayor o caso fortuito, para lo cual se deberá adjuntar los documentos que respalden dicha situación.
        2) Presentar por parte del Contratante una solicitud de reembolso por escrito con 15 días de anticipación en el
        cual
        se exponga la situación indicada en el numeral 1) de la presente clausula con los respectivos documentos de
        respaldo.
        La Contratista analizará cada caso que se presente y podrá decidir si se acepta un reembolso total o parcial, o
        si
        se cambia las fechas del entrenamiento o simplemente no aplica reembolso.
        <div class="clause-title">
            DÉCIMA TERCERA. - TRATAMIENTO DE DATOS PERSONALES. -
        </div>

        En caso de que, en el marco de la ejecución del presente contrato, la Contratista acceda, obtenga o trate de
        cualquier modo datos personales de los que la Contratante, se compromete a tratar y conservar dichos datos de
        conformidad con la Política de Protección de Datos de la Contratante, la Ley Orgánica de Protección de Datos
        Personales, el Reglamento General a la Ley Orgánica de Protección de Datos Personales y demás normativa conexa.
        En particular, se compromete a tratar dichos datos exclusivamente para las finalidades establecidas en este
        contrato
        y de conformidad con las instrucciones impartidas por la Contratante.

        <div class="clause-title">
            DÉCIMA CUARTA.- AUTORIZACIÓN DE USO DE IMAGEN
        </div>

        El Contratante autoriza de manera expresa, libre, voluntaria y gratuita a <span
            th:if="${training.campus.city == 'Quito'}">
    Impetus S.A.S</span>
        <span th:if="${training.campus.city == 'Cuenca'}">
        FULL POTENTIAL S.A.S
    </span><span th:if="${training.campus.city == 'Guayaquil'}">
            Impetus S.A.S
    </span> para captar,
        reproducir, utilizar, fijar, editar y difundir su imagen, voz y testimonio, obtenidos durante el desarrollo de
        los
        entrenamientos, actividades, dinámicas o eventos organizados por la Compañía, a través de fotografías,
        grabaciones
        de video o audio. Dicha autorización se otorga para fines institucionales, educativos, promocionales,
        publicitarios
        y de
        comunicación,
        y podrá ser utilizada en medios físicos o digitales, redes sociales, material audiovisual, plataformas web y
        cualquier otro canal de difusión que la Compañía considere pertinente, sin limitación territorial ni temporal.
        El
        Contratante declara que esta autorización no genera derecho a compensación económica alguna y libera a la
        Compañía de cualquier reclamo presente o futuro relacionado con el uso legítimo de su imagen, siempre que no se
        afecte su honra o dignidad.
        <div class="clause-title">
            DÉCIMA QUINTA. - SOLUCIÓN DE CONTROVERSIAS:
        </div>
        Las Partes renuncian a fuero y domicilio y lo fijan en la ciudad de <span
            th:text="${training.campus.city}"></span>.
        En
        todo lo no previsto en este
        contrato
        se aplicarán las leyes de la República del Ecuador.
        Toda controversia, o diferencia derivada de este contrato y de su ejecución, interpretación o liquidación, se
        someterá ante un mediador de la Cámara de Comercio Ecuatoriano Americana, ubicada en <span
            th:text="${training.campus.city}"></span>. A falta de
        resolución
        del conflicto las partes se someten al procedimiento Arbitral y al Tribunal de Arbitraje de la Cámara de
        Comercio
        Ecuatoriano Americana, ubicada en <span th:text="${training.campus.city}"></span>, el mismo que decidirá en
        derecho,
        cuyo procedimiento será de carácter
        confidencial, y para la ejecución de las medidas cautelares las partes podrán recurrir, en forma directa, a los
        jueces ordinarios o a los árbitros quienes podrán solicitar auxilio a funcionarios públicos, judiciales,
        policiales
        y administrativos, sin tener que recurrir al Juez ordinario, según lo establecido en la Ley de Arbitraje y
        Mediación, vigente en el Ecuador.

        <div class="clause-title">
            DÉCIMA SEXTA. - DECLARACIÓN DE CONFORMIDAD:
        </div>
        Las partes declaran su total conocimiento a lo aquí estipulado luego de haber leído todas y cada una de las
        cláusulas y manifiestan su absoluta conformidad con todas las disposiciones contempladas en este contrato.
        En forma libre y voluntaria, conocedores del total contenido del presente instrumento, las partes, en forma
        mutua y
        en constancia de su plena aceptación y conocimiento a lo aquí establecido, suscriben el presente contrato, en
        dos
        ejemplares de igual tenor y valor, en esta ciudad de <span
            th:text="${training.getCampus().getCity()}"></span>, a
        los <span th:text="${training.startDate.getDayOfMonth()}"></span> días del mes de <span
            th:text="${#temporals.format(training.startDate, 'MMMM')}"></span>
        de <span
            th:text="${training.getStartDate().getYear()}"></span>.
    </div>
    <table style="width:100%; margin-top:100px; table-layout:fixed;">
        <tr>
            <td style="width:50%; text-align:center;"></td>
            <td style="width:50%; text-align:center;">

            </td>
        </tr>

        <tr>
            <td style="text-align:center;"><strong>EL CONTRATANTE</strong></td>
            <td style="text-align:center;"><strong>LA CONTRATISTA</strong></td>
        </tr>

        <tr>
            <td style="width:50%; text-align:center; vertical-align:top">
                <div style="
                display:block;
                max-width:100%;
                word-wrap:break-word;
                overflow-wrap:break-word;
                white-space:normal;
                line-height:1.2;
            ">
                    Sr/a. <span th:text="${data.participant.user.name}"></span>
                </div>
            </td>

            <td style="width:50%; text-align:center;">
                Ing. Diego Coronel López
            </td>
        </tr>

        <tr>
            <td style="text-align:center;">
                C.C. <span th:text="${data.participant.profile.dni}"></span>
            </td>
            <td style="text-align:center;">
                Gerente General
            </td>
        </tr>

        <tr>
            <td></td>
            <td style="text-align:center;">
            <span th:if="${training.campus.city == 'Quito'}">
                Impetus S.A.S
            </span>
                <span th:if="${training.campus.city == 'Cuenca'}">
                FULL POTENTIAL S.A.S
            </span>
                <span th:if="${training.campus.city == 'Guayaquil'}">
                Impetus S.A.S
            </span>
            </td>
        </tr>
    </table>
    <div class="page-break"></div>

</div>
</body>
</html>