<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Factura de Pago</title>
    <style>
        .a {
            display: none;
        }

        .b {
            display: inline-block;
            width: 200px;
            height: 50px;
        }

        .c {
            display: block;
        }

        .d {
            display: inline-block;
            margin-top: 10%;
            width: 349px;
        }

        .e {
            height: 18%;
            /* padding-left: 10% */
        }

        p {
            color: black;
        }

        .contenedor-footer {
            position: relative;
            width: 100%;
        }

        .contenedor-1 {
            display: inline-block;
            width: 74%;
            margin-top: -19px !important;
        }

        .contenedor-2 {
            display: inline-block;
            width: 25%;
            margin-top: 60px;
        }

        .table {
            border-collapse: separate;
            border-spacing: 13px;
        }

    </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
<section>
        <div class="d">
            <div class="e">
                <img style="width: 75%" th:src="@{classpath:static/images/focusYourLife.png}"/>
            </div>

            <div style="border: solid; border-width: 1px; padding: 10px; border-radius: 10px;  margin-right: 10px;">
                <table class="table">
                    <tr>
                        <td>
                            <strong>Razón social:</strong> Focus Your Life
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Correo electrónico:</strong> <span>focus@focus.com</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Dirección:</strong> <span th:text="${payment.campus.address}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Telefono:</strong> <span th:text="${payment.campus.phone}"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="d">
            <div style="border-style: solid; border-width: 1px; border-radius: 10px;">
                <table class="table">
                    <tr>
                        <td>
                            <strong>RUC: </strong> 12314434546
                        </td>
                    </tr>
                    <tr>
                        <div style="font-size: 20px;">
                            <left><strong>FACTURA</strong></left>
                        </div>
                    </tr>
                    <tr>
                        <td>
                            FECHA DE EMISION:
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${date}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</section>
<section>
    <div style="margin-top: -55px">
        <div class="c" style="border-style: solid; border-width: 1px; padding: 10px;">
            <div class="c">
                <table>
                    <tr>
                        <td>
                            <strong>Nombre del cliente:</strong> <span th:text="${payment.invoice.fullName}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Dirección:</strong> <span th:text="${payment.invoice.address}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Teléfono:</strong> <span th:text="${payment.invoice.phone}"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="d" style="margin-top: 10px;">
                <table>
                    <tr>
                        <td>
                            <strong>N° documento:</strong> <span th:text="${payment.invoice.document}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Fecha Emision:</strong> <span th:text="${payment.invoice.invoiceDate}"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="c" style="margin-top: 20px;">
        <table style="border: 1px solid #23234b; width: 100%;">
            <thead style="color:white; border: 1px solid #23234b; background-color:#663c84">
            <tr>
                <th>Producto</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${payment.products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.code}"></td>
                <td th:text="${product.description}"></td>
                <td>1</td>
                <td th:text="${product.basePrice}"></td>
                <td th:text="${product.basePrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section>
    <div class="contenedor-footer">
        <div class="contenedor-1">
            <div style="padding-top: 10px;">
                <table style="border: 1px solid black;width: 100%;">
                    <tr style="background-color: #663c84; color: white; ">
                        <th colspan="2">Informacion Adicional</th>
                    </tr>
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td th:text="${payment.invoice.email}">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Campus:
                        </td>
                        <td th:text="${payment.campus.city}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Notas
                        </td>
                        <td th:text="${payment.note}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="contenedor-2">
            <table style="border: 1px solid black;">
                <tr>
                    <td>
                        SUBTOTAL 15%
                    </td>
                    <td>
                        <span th:text="${subtotal}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Descuento
                    </td>
                    <td>
                        <span th:text="${discount}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        IVA (15%)
                    </td>
                    <td>
                        <span th:text="${iva}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Total
                    </td>
                    <td>
                        <span th:text="${payment.total}"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
</body>
</html>